{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block head %}
  <title>Links Detail</title>
{% endblock %}

{% block main %}
  <div id="app"></div>
  {% render_bundle 'manifest' %}
  {% render_bundle 'vendor' %}
  {% render_bundle 'app' %}
  <script>
    window.render_components({
      links: {{ links|safe }}
    });
  </script>
{% endblock %}
