<template>
  <div id="linkdetail">
    {{ link.fields.name }}: <a v-bind:href="link.fields.url">{{ link.fields.url }}</a>
  </div>
</template>

<script>
export default {
  name: 'linkdetail',
  props: ['link']
}
</script>
