<template>
  <div id="app">
    <img src="../../assets/logo.png">
    <Headline text="Links"></Headline>
    <LinkDetail v-for="link in links" :link="link"/>
  </div>
</template>

<script>
import Headline from '../Headline'
import LinkDetail from '../LinkDetail'

export default {
  name: 'app',
  components: {
    Headline,
    LinkDetail
  },
  props: ['links']
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
